body {
  background-size: cover;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-page {
  background-image: url("../assets/img/log.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2rem;
  border-radius: 15px;
  color: #fff;
  width: 100%;
  max-width: 400px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 8px;
}

button {
  width: 75%;
  padding: 10px;
  background-color: #2340fd;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em;
  margin-top: 10px;
}

.options label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  color: #ccc;
}

.options input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.options{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.9em;
  margin-top: 10px;
  color: #ccc;
  font-weight: bold;
}

.options a {
  color: #ccc;
  text-decoration: none;
}

.google-btn {
  background: white;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
}

.register-link {
  text-align: center;
  margin-top: 15px;
  font-size: 0.9em;
}

.register-link a {
  color: #4da6ff;
  text-decoration: none;
  font-weight: bold;
}

.register-link a:hover {
  text-decoration: underline;
}
