body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
img {
    max-width: 100%;
    height: auto;
  }
  .hero {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2rem;
    border-radius: 20px;
    width: 90%;
    max-width: 800px;
    color: #ffffff;
  }
  
  nav {
    margin-top: 1rem;
  }
  
  nav a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 10px;
  }
  .main-header nav ul {
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    gap: 20px; /* Espaciado entre los botones */
    list-style: none;
    padding: 0;
  }

  title{
    color: #ffffff;

  }
  