/* Definición de variables */
:root {
  --color-fondo-body: #f3f3f3;
  --color-fondo-contenedor: #ffffff;
  --color-texto: #000000;
  --color-input-border: #ccc;
  --color-boton: #4CAF50;
  --color-boton-hover: #008945;
  --color-focus: #4CAF50;

  --fuente-principal: Arial, sans-serif;

  --padding-pc: 3rem 2.5rem;
  --padding-movil: 2rem 1.5rem;

  --ancho-contenedor: 600px;
  --radio-borde: 15px;
  --radio-input: 8px;
  --sombra: 0px 4px 10px rgba(0, 0, 0, 0.2);
  --font-size: 1rem;
  --font-size-movil: 0.95rem;
  --font-weight: 900;
}

/* Contenedor principal */
.container {
  background-color: var(--color-fondo-contenedor);
  padding: var(--padding-pc);
  border-radius: var(--radio-borde);
  color: var(--color-texto);
  font-weight: var(--font-weight);
  width: 100%;
  max-width: var(--ancho-contenedor);
  box-shadow: var(--sombra);
  box-sizing: border-box;
  text-align: center;
  font-family: var(--fuente-principal);
}

/* Título */
.title {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: var(--color-texto);
}

/* Sección del formulario */
.formSection {
  margin-bottom: 20px;
}

/* Etiquetas */
.label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  text-align: left;
}

/* Inputs */
.input {
  width: 100%;
  padding: 11px;
  margin-bottom: 15px;
  border: 2px solid var(--color-input-border);
  border-radius: var(--radio-input);
  outline: none;
  font-size: var(--font-size);
  box-sizing: border-box;
}

.input:focus {
  border-color: var(--color-focus);
}

/* Botones */
.button {
  width: 100%;
  padding: 10px;
  margin-top: 3px;
  background-color: var(--color-boton);
  color: white;
  border: none;
  border-radius: var(--radio-input);
  cursor: pointer;
  font-weight: bold;
  font-size: var(--font-size);
  transition: background 0.4s ease;
}

.button:hover {
  background-color: var(--color-boton-hover);
}

/* Sección de verificación */
.verificationSection {
  margin-top: 20px;
}

.verificationSection .input {
  width: 100%;
  padding: 11px;
  margin-bottom: 10px;
  border: 2px solid var(--color-input-border);
  border-radius: var(--radio-input);
  font-size: var(--font-size);
  box-sizing: border-box;
  outline: none;
}

.verificationSection .input:focus {
  border-color: var(--color-boton-hover);
}

.verificationSection .button {
  width: 100%;
  padding: 11px;
  background-color: var(--color-boton);
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.4s ease;
}

.verificationSection .button:hover {
  background-color: var(--color-boton-hover);
}

/* Mensaje de error */
.errorMessage {
  color: red;
  margin-top: 10px;
  font-size: 0.9em;
}

/* Media query para celulares */
@media (max-width: 768px) {
  .container {
    padding: var(--padding-movil);
    width: 90%;
  }

  .input,
  .button,
  .verificationSection .input,
  .verificationSection .button {
    font-size: var(--font-size-movil);
  }
}