.container {
  background-color: white;
  padding: 6rem;
  border-radius: 15px;
  color: hsl(0, 0%, 3%);
  font-weight: 900;
  width: 100%;
  max-width: 600px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
/*
.olvido-page {
  background-image: url("../assets/img/olvido.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
*/
input {
  width: calc(100% - 20px); 
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
}

input:focus {
  border-color: #4CAF50;
}



button {
  width: 100%;
  padding: 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 15px;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #3e8e41;
}
