.perfilContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-fondo-body);
  font-family: var(--fuente-principal);
}

.header .containerPerfil {
  width: 100%;
  max-width: var(--ancho-contenedor);
  padding: var(--padding-pc);
  box-sizing: border-box;
}

.titulo h1 {
  text-align: center;
}

.menu {
  display: flex;
  justify-content: space-around;
}

.menu button {
  padding: 0.5rem 1rem;
  background-color: var(--color-boton);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: var(--radio-input);
  transition: background-color 0.3s ease;
}

.menu button:hover {
  background-color: var(--color-boton-hover);
}

.mainContent {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.perfilForm {
  width: 100%;
  max-width: var(--ancho-contenedor);
  background-color: white;
  padding: var(--padding-pc);
  border-radius: var(--radio-borde);
  box-shadow: var(--sombra);
}

.fotoPerfil {
  text-align: center;
}

.fotoPerfil img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.btnSeleccionarArchivo {
  display: inline-block;
  background-color: var(--color-boton);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: var(--radio-input);
  margin-top: 1rem;
  cursor: pointer;
}

.datosPersonales label {
  display: block;
  margin-bottom: 1rem;
}

.datosPersonales input {
  width: 100%;
  padding: 0.5rem;
  border-radius: var(--radio-input);
  border: 1px solid var(--color-input-border);
}

.datosPersonales button {
  background-color: var(--color-boton);
  color: white;
  padding: 0.7rem;
  border: none;
  cursor: pointer;
  border-radius: var(--radio-input);
  transition: background-color 0.3s ease;
}

.datosPersonales button:hover {
  background-color: var(--color-boton-hover);
}

.error {
  color: red;
  font-size: 0.875rem;
}

.mensaje {
  color: green;
  font-size: 1rem;
}

.eliminarCuenta {
  margin-top: 20px;
}

.btnEliminar {
  background-color: red;
  color: white;
  padding: 0.7rem;
  border: none;
  border-radius: var(--radio-input);
  cursor: pointer;
}

.confirmarEliminacion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirmarEliminacion button {
  margin-top: 10px;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: var(--radio-input);
  background-color: var(--color-boton);
  color: white;
}

.confirmarEliminacion button:hover {
  background-color: var(--color-boton-hover);
}