body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('../assets/fondo.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../img/logo512.png');
  }
img {
    max-width: 100%;
    height: auto;
  }

  
  .hero {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2rem;
    border-radius: 20px;
    width: 90%;
    max-width: 800px;
  }
  
  nav {
    margin-top: 1rem;
  }
  
  nav a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 10px;
  }
  